<% provide(:title, "Entries in " + @month + "/" + @year) %>

<div class="jumbotron">
  <%= gmaps({
    "map_options" => { "auto_zoom" => false},
    "markers"     => { "data" => @pins }
  })
  %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    Gmaps.map.callback = function() {
      if (Gmaps.map.markers.length == 1) {
        Gmaps.map.serviceObject.setZoom(7);
      } else {
        Gmaps.map.map_options.auto_zoom = true;
        Gmaps.map.adjustMapToBounds();
      }
    }
  </script>
<% end %>

<div class="page_header"><h1>Entries in <%= month_names[@month.to_s] %> <%= @year %> </h1></div>

<% @posts_d.each_with_index do |post, index| %>
  <div class="row entry">
    <div class="col-md-3 col-sm-5 entry-image">
      <%= link_to image_tag(post.cover_photo(nil)), user_post_path(post.user, post) %>
    </div>
    <div class="col-md-9 col-sm-7 entry-content">
      <h3><%= link_to post.title, user_post_path(post.user, post) %></h3>
      <h4><small><%= post.get_dates('ordinal') %> in <%= post.location.city_country %></small></h4>
      <p><%= post.snippet_by_words(post.body, 50) %></p>          
      <p><%= post.likes.nil? ? "0" : post.likes %> likes | <%= post.comments.count %> comments | <%= post.photos.count %> photos</p>
    </div>
  </div>
<% end %>

<%= yield :scripts %>