<% provide(:title, @user.first_name + " " + @user.last_name) %>

<div class="page_header"><h1>My Profile</h1></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user, html: {class:"form-horizontal"}) do |f| %>

      <fieldset>
        <legend>Personal</legend>
      </fieldset>

      <div class="form-group">
        <%= f.label :last_name, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <%= f.text_field :last_name, {class: "form-control", disabled: true} %>
        </div>
      </div>
          
      <div class="form-group">
        <%= f.label :first_name, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <%= f.text_field :first_name, {class: "form-control", disabled: true} %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope"></span>
            </span>
            <%= f.text_field :email, {class: "form-control", disabled: true} %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :admin, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-cog"></span>
            </span>
            <%= f.text_field :admin, {class: "form-control", disabled: true} %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :about_me, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <%= f.text_area :about_me, {class: "form-control", rows: 5, disabled: true} %>
          </div>
        </div>
      </div>

      <fieldset>
        <legend>Settings</legend>
      </fieldset>

      <%= f.fields_for :preference do |pref| %>
      <div class="form-group">
        <%= pref.label :display_tiles, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <%= pref.text_field :display_tiles, {class: "form-control", disabled: true} %>
        </div>
      </div>

      <div class="form-group">
        <%= pref.label :sort_key, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <%= pref.select :sort_key, sort_key, {}, {class: "form-control", disabled: true} %>
        </div>
      </div>

      <div class="form-group">
        <%= pref.label :sort_order, nil, class: "col-md-4 col-sm-3 control-label" %>
        <div class="col-md-8 col-sm-9">
          <%= pref.select :sort_order, sort_order, {}, {class: "form-control", disabled: true} %>
        </div>
      </div>
      <% end %>

    <% end %><!-- form -->
  </div>
</div>