<% provide(:title, "Gallery | " + @post.title.html_safe) %>

<div class="page_header">
  <h1><%= @post.title %></h1>
  <h5><%= @post.location.city_country %></h5>
  <h5><%= @post.get_dates('ordinal') %></h5>
</div>

<%= link_to "Back to Post", user_post_path(@post.user, @post) %><br/><br/>

<div class="row post-gallery">
  <div class="col-sm-12">

    <div id="photo-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#photo-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#photo-carousel" data-slide-to="1"></li>
        <li data-target="#photo-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      <% @photos.each_with_index do |photo,index| %>
        <div class="item <%= index==0 ? 'active' : '' %>">
          <div class="inner-item">
            <%= image_tag photo.image.url %>
            <div class="carousel-caption">
              <h3><%= photo.caption %></h3>
              <% if @post.user == current_user %>
                <%= link_to 'Edit', edit_user_post_photo_path(photo.post.user, photo.post, photo) %> |
                <%= link_to 'Delete', user_post_photo_path(photo.post.user, photo.post, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#photo-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#photo-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div><!-- carousel -->

  </div>
</div>