<div class="jumbotron">
  <%#= gmaps4rails(@pins) %>
  <%= gmaps({
    "map_options" => { "auto_zoom" => false},
    "markers"     => { "data" => @pins }
  })
  %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    Gmaps.map.callback = function() {
      if (Gmaps.map.markers.length == 0) {
        Gmaps.map.serviceObject.setZoom(1);
      } else if (Gmaps.map.markers.length == 1) {
        Gmaps.map.serviceObject.setZoom(7);
      } else {
        Gmaps.map.map_options.auto_zoom = true;
        Gmaps.map.adjustMapToBounds();
      }
    }
  </script>
<% end %>
    
<div class="row">
  <div class="col-md-12">
  <!--div class="col-6 col-sm-6 col-lg-4"-->

  <% @posts.each_with_index do |post, index| %>

    <% content_for :head do %>
      <%= index==0 ? '<style>'.html_safe : '' %>
        #tile-<%= index+1 %> {
          background:url(<%= post.cover_photo(index+1) %>);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          <%= index%2==0 && index==@posts.to_a.length-1 ? 'width: 847px;'.html_safe : '' %>
        }
      <%= index==@posts.to_a.length-1 ? '</style>'.html_safe : '' %>
    <% end %>

    <div class="post-tile">
      <div id="tile-<%= index+1 %>" class="<%= index%2==0 ? 'tile-left' : '' %>">
        <h3><%= post.location.city %></h3>
        <h4><%= post.location.country %></h4>
      </div>

      <div class="tile-content">
        <h4><%= post.title %></h4>
        <p><%= post.snippet(post.body) %></p>
        <p><%= link_to 'Continue reading &raquo;'.html_safe, user_post_path(post.user, post), { class:"btn btn-default" } %></p>
      </div>
    </div>
  <% end %>

  </div><!--/span-->
</div><!--/row-->

<div class="row">
  <div class="col-md-12">
    <span class="badge">Total Visits: <%= @visits %></span>
    <%= link_to '<span class="badge">Responsive</span>'.html_safe, user_responsive_path(@profile_user), {"data-no-turbolink" => true} %>
  </div>
</div>

<%= yield :scripts %>
