<p class="pull-right visible-xs">
  <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="jumbotron">
  <%= gmaps4rails(@pins) %>
</div>
    
<div class="row">
  <div class="col-lg-12">
  <!--div class="col-6 col-sm-6 col-lg-4"-->

  <!-- length = <%= @posts.length %> -->
  <!-- count = <%= @posts.count %> -->
  <!-- arr count = <%= @posts.to_a.count %> -->

  <% @posts.each_with_index do |post, index| %>

    <% content_for :head do %>
      <%= index==0 ? '<style>'.html_safe : '' %>
        #tile-<%= index+1 %> {
          background:url(<%= post.cover_photo(index+1) %>);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          <%= index%2==0 && index==@posts.to_a.length-1 ? 'width: 847px;'.html_safe : '' %>
        }
      <%= index==@posts.to_a.length-1 ? '</style>'.html_safe : '' %>
    <% end %>

    <div class="post-tile">
      <div id="tile-<%= index+1 %>" class="<%= index%2==0 ? 'tile-left' : '' %>">
        <h3><%= post.location.city %></h3>
        <h4><%= post.location.country %></h4>
      </div>

      <div class="tile-content">
        <h4><%= post.title %></h4>
        <p><%= post.snippet(post.body) %></p>
        <p><%= link_to 'Continue reading &raquo;'.html_safe, user_post_path(post.user, post), { class:"btn btn-default" } %></p>
      </div>
    </div>
  <% end %>

  </div><!--/span-->
</div><!--/row-->

<hr>

<%= yield :scripts %>

<% if signed_in? %>
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Travel Date</th>
      <th>Post Date</th>
      <th>Starred</th>
      <th>Likes</th>
      <th>Comments</th>
      <th>Photos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @all_posts.each do |post| %>
      <tr>
        <td><%= post.location.city_country %></td>
        <td><%= date_short_format(post.start_date) %></td>
        <td><%= date_short_format(post.created_at) %></td>
        <td><%= post.starred %></td>
        <td><%= post.likes.nil? ? "--" : post.likes %></td>
        <td><%= post.comments.count==0 ? "--" : post.comments.count %></td>
        <td><%= post.photos.count==0 ? "--" : post.photos.count %></td>
        <td><%= link_to 'Show', user_post_path(post.user, post) %></td>
        <td><%= link_to 'Edit', edit_user_post_path(post.user, post) %></td>
        <td><%= link_to 'Destroy', user_post_path(post.user, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_user_post_path(@current_user) %>
<% end %>