<% provide(:title, @post.title) %>

<!--div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9"-->

    <center>
      <h1><%= @post.title %></h1>
      <h5><%= @post.location.city_country %></h5>
      <h5><%= @post.get_dates %></h5>
    </center>

    <p>
      <strong>Coordinates:</strong>
      <%= @post.location.to_coordinates %><br/>
      <%= @dist.miles.round(0) %> miles / <%= @dist.kms.round(0) %> km from Toronto
    </p>

    <p>
      <strong>Tag as favorite:</strong>
      <%= @post.starred %>
    </p>

    <p>
      <%= @post.body.html_safe %>
    </p>

    <p>
      <strong>Likes:</strong>
      <%= @post.likes.nil? ? 0 : @post.likes %>
      <%= link_to post_like_path(@post), method:"put" do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
      <% end %>
    </p><br/>

    <p>
      <strong>Photos:</strong><br/>
      <button type="button" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Select photos...
      </button>
      <button type="button" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-cloud-upload"></span> Start upload
      </button>
    </p><br/>

    <p>
      <strong>Comments (<%= @post.comments.count %>)</strong><br/>
      <span class="avg_star"></span> (<%= @city_avg_rating.size==0 ? "n/a" : @city_avg_rating[0]["avg_rating"] %>)<br/><br/>

      <% @post.comments.each_with_index do |c, index| %>
        <blockquote>
          <ul class="post-comments">
            <li><span class="star<%= index %>"></span></li>
            <li><%= c.body %></li>
            <li class="commented-by">Commented on <%= c.get_create_date %> by __________ <%= link_to "edit", edit_post_comment_path(@post, c) %></li>
          </ul>
        </blockquote>
      <% end %>
    </p>

    <div class="row">
      <div class="col-md-offset-1 col-md-6 new-comment">
        <%= form_for([@post, @post.comments.build], html: {class:"form-horizontal", role:"form"}) do |f| %>
        <div class="form-group">
          <%= f.label :rating, nil, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <div id="user_star"></div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :body, nil, class: "col-md-2 control-label" %>
          <div class="col-md-10">
            <%= f.text_area :body, {class: "form-control", rows: 5} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-7">
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path, {"data-no-turbolink" => true} %>   

  <!--/div--><!--/span-->

  <%#= render partial: 'layouts/sidebar' %>
  
<!--/div--><!--/row-->

<script>
  $('#user_star').raty({
    readOnly: false
  });

  $('.avg_star').raty({
    score: <%= @post.comments.count == 0 ? 0 : @city_avg_rating[0]["avg_rating"] %>,
    readOnly: true
  });

<% @post.comments.each_with_index do |c, index| %>
  $('.star<%= index %>').raty({
    score: <%= c.rating.nil? ? 0 : c.rating %>,
    readOnly: true
  });
<% end %>
</script>
