<footer class="footer">
  <div class="row">
    <div class="col-sm-6">
      <%= form_tag(root_path, method: "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <ul class="list-inline pull-right">
        <li><%= link_to "Home", root_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% else %>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </div>
  </div><!-- row -->
</footer>
