<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav">
    <div id="about-me-container">
      <%= @profile_user.get_avatar %>
      <p class="about-me">
        <b><%= @profile_user.name %></b><br/>
        <%= @profile_user.about_me %>
      </p>
    </div>
  </div>

  <div class="well sidebar-nav">
    <ul class="nav nav-pills nav-stacked">
    <% if signed_in? %>
      <li class="section">LATEST ENTRIES</li>
    <% if @latest_posts.count == 0 %>
      <li>No entries found</li>
    <%
      else
        @latest_posts.each do |p|
    %>
      <li><%= link_to p.title, user_post_path(p.user, p) %></li>
    <% end end %>

      <li class="nav nav-divider"></li>
      <li class="section">ENTRIES BY COUNTRY</li>
    <% if @countries.count == 0 %>
      <li>No entries found</li>
    <%
      else
        @countries.each do |c|
    %>
      <li><%= link_to c["_id"]["country"] + " (" + c["posts_count"].to_s + ")", user_countries_path(@profile_user, :query => c["_id"]["country"]), {"data-no-turbolink" => true} %>
      </li>
    <% end end %>

      <li class="nav nav-divider"></li>
      <li class="section">ARCHIVE</li>
    <% if @archives.count == 0 %>
      <li>No entries found</li>
    <%
      else
        @archives.each do |a|
    %>
      <li><%= link_to month_names[a["_id"]["month"].to_s] + " " + a["_id"]["year"].to_s + " (" + a["posts_count"].to_s + ")", user_archive_path(@profile_user, :month => a["_id"]["month"], :year => a["_id"]["year"]), {"data-no-turbolink" => true} %>
      </li>
    <% end end %>

    <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
