<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "gmaps4rails" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag :defaults %>
  <%#= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <%= yield :head %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
      
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>

      <%= yield %>

      </div><!--/span-->

      <% if signed_in? %>
        <%= render partial: 'layouts/sidebar' %>
      <% end %>

    </div><!--/row-->
            
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
          
  </div><!-- container -->
</body>
</html>
